<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop web</title>
</head>
<body>
    {% block x %}{% endblock x %}
    <div style="justify-self: flex-end;">
        <nav >

            <a href="#" style= "margin-left:10px" >Home</a>
            <a href="#" style="margin-left:10px">Index</a>
            <a href="#" style="margin-left:10x">File  </a>
            {{logname}}

        </nav>
    </div>
   
    
</body>
</html>